<!-- Header -->
<header class="template-header">
	<div class="container">

		<div class="header-item  header-item--logo">
			{{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
			{{widget('companyname', 'companyname', {
				"business": "profile",
				"showTplWidget":"0"
			})|raw}}
		</div>
		<div class="header-item  header-item--navigation">
			<button class="nav-toggle"><span class="nav-toggle-icon"></span><span class="nav-toggle-text">{{'widgets.extendednavigation.menu'|translate('Menu')}}</span></button>
			{{widget('extendednavigation', 'extendednavigation', {"align":"right"})|raw}}
		</div>

	</div>
</header>
